/*Esta es la seccion del nav y el header*/
p{
    background-color: salmon;
    padding: 10px;
    margin: 20px;
    width: 10%;
}

h1{
    background-color: yellow;
    padding: 15px;
    margin: 10px;
}

.padre{
    display: flex;
    justify-content: space-between;

}

.div1{
    background: black;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.div2{
    background: #708993;
}

.div3{
    background-color: orange;
    padding: 10px;
    margin-top: 20px;
}

.medio{
    width: 70%;
    margin-right: -1px;
    margin-left: -1px;
}


/*Esta es la seccion de las secction*/
.div4{
    background: black;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;           
    display: flex;        
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;  
}

.div5{
    background: rgb(115, 86, 115);
    margin-right: -9px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.article{
    background: rgb(74, 74, 174);
    margin-top: 20px;
    margin-bottom: -1px;
    margin-right: -2px;
    flex: 1 0 40%;
}

.article-right{
    margin-right: 20px;
}

.navegacion{
    background: rgb(40, 115, 171);
    margin: 20px;
    width: 100%;
}

.div6{
    background: rgb(232, 78, 61);
    margin-left: 10px;
    width: 15%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.publicidad{
    background: yellow;
    margin: 20px;
    margin-bottom: 5px;
    width: 60%;
    /*padding: 10px;*/
    
}

.publicidad2{
    margin-top: 5px;
}

.padre2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div56 {
    display: flex;       
    gap: 20px;      
}


/*Esta es la seccion del footer*/
.pie{
    background-color: rgb(202, 202, 127);
    padding: 10px;
    margin: 0px;
    width: auto;

}


/*Esta parte es para el Fondo*/
.fondo{
    background-color: antiquewhite;
    max-width: 1200px;
    margin: 0 auto; 
}


/*Adaptabilidad*/
@media (max-width:900px){
    .padre{
        flex-direction: column;
    }

    p{
        margin: 20px;
        margin-bottom: -1px;
        width: auto;
    }

    .medio{
        margin: 20px;
        width: auto;
    }

    .div56 {
        display: block;        
        gap: 0px;              
    }

    .div5{
        width: auto;
        
    }
    
    .padre2{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .div6{
        margin: 0px;
        padding-bottom: 10px;
        width: auto; 
        display: block;
    }

    .publicidad{
        width: auto;
        top: 20px;
        position: relative;
    }

    .publicidad2{
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .navegacion{
        width: 100%;
    }

    .p-social{
        margin-bottom: 20px;
        margin-top: -1px;
    }
}


/*Adaptabilidad Mobil*/
@media(max-width:656px) {
    .article{
        margin-right: 20px;
        width:30%;
        flex: 1 1 100%;
    }

    .article-right{
        margin-right: 20px;
    }
}




